
body{
    align-content: center;
}

#formulario{
    border-radius: 15px;
    gap: 10px;
    display: grid;
    width: 20%;
    height: 45vh;
    position: absolute;
    top: 10vh;
    left: 30vw;
    padding: 10%;
    background-color: rgb(194, 194, 194);
    box-shadow: 6px 6px 6px rgb(155, 155, 155);
    align-items: center;
}

.input{
    padding: 3%;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    color: #fafafa;
    border: 1px solid gray;
    transition: .2s;
}

.input:hover{
    border: 1px solid rgb(59, 104, 226);
}